.center {
  margin:auto;
  margin-top:50px;
  margin-bottom:50px;
}
.center2 {
  margin:auto;
  margin-top:10px;
  margin-bottom:100px;
}
.center3 {
  margin:auto;
}
.backgroundColor{
  background-color: rgb(25, 23, 62);
  background-color: fill;
  width:100%;
  min-height: 100vh;
  height:100%;
  display: flex;
  flex-direction: column;
}
.header{
  padding-left: 90px;
  padding-top:10px;
}
.header1{
  text-align: center;
  padding-top:20px;
  color:rgb(232,232,236)
}
.headerColor{
  color:white;
}
.headerColor1{
  color:white;
  padding-bottom: 10px;
}
.Bi{
  color:white;
}
.verse{
  color:grey;
}
.verse1{
  color:grey;
  font-size:10px;
}
.verse2{
  color:grey;
  font-size:10px;
}
.verse3{
  color:grey;
  font-size:10px;
  padding-top: 10px;
}
.a{
  color:grey;
  text-decoration: none;
}
.a:hover{
  color:rgb(76, 165, 213)
}
.card.custom-class{
  background-color: rgba(57, 53, 121);
  padding: 24px;
}
.card.custom-class2{
  background-color: rgba(49, 46, 99);
  padding: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.black{
  color:black;
}
.drop{
  padding: 12px;
  text-align: center;
}
.grey{
  color:grey
}
.white{
  color:white
}
.subtitleColor{
  color:rgb(91, 90, 153)
}
.input1{
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  height:50px;
  background-color: rgb(251, 151, 60);
  border: 2px black;
}
.input{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height:50px;
  border:2px black;
  width:450px;
}
.links{
  text-decoration: none;
  color:grey
}
.center1{
  text-align: center;
}
.customColor{
  color:rgb(232,232,236)
}
.paddingBottom{
  padding-bottom:40px;
}
.spacing{
  padding-left: 25px;
  padding-right: 25px;
}
.right{
  text-align: right;
  padding-top:5px;
  padding-bottom:10px;
}
.iconButtons{
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.white2{
  color:#ffffff;
  font-size: 16px;
  padding:2px;
  font:bold;
}
.white3{
  color:white;
  font-size: 12px;
  padding:2px;
  font:bold;
}
.whiteIconColor{
  color:white;
}